.name_image {
  margin-top: 20%;
  padding: 0 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.profile_title {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}

.full_name {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  text-decoration-line: underline;
  margin: 0;
}

.prof {
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  color: #000000b9;
  margin: 0;
}

.profile_pic {
  width: 27%;
}

@media only screen and (min-width: 720px) {
  .name_image {
    margin-top: 25%;
  }

  .full_name {
    font-size: 3rem;
  }

  .prof {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 900px) {
  .name_image {
    margin-top: 10%;
  }

  .full_name {
    font-size: 4rem;
  }

  .prof {
    font-size: 2rem;
  }
}
