.fullstack {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin: 5% 0;
  flex-direction: column;
}

.full_card {
  display: flex;
  cursor: pointer;
  transition: transform 0.4s ease;
  flex-direction: column;
  align-items: center;
  margin: 3%;
}
.full_card:hover .card {
  opacity: 100;
  width: 300px;
  display: flex;

  padding: 2%;
  animation: entry 0.6s;
}

.card {
  background: #ffffff;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: left;

  flex-direction: column;
  opacity: 0;
  justify-content: space-between;
  padding: 3%;
  z-index: 1;
  display: none;
}

@keyframes entry {
  0% {
    width: 200px;
    opacity: 0%;
    display: flex;
  }

  50% {
    opacity: 50%;
  }
  75% {
    opacity: 100%;
  }

  100% {
    width: 300px;
  }
}

.open {
  opacity: 100;

  width: 300px;
  animation: entry 0.5s;
}

.card_icon {
  border-radius: 15px;
  height: 200px;
}

.card_header {
}

.card_text {
}

.card_sub {
  color: #888888;
}

@media only screen and (min-width: 800px) {
  .full_card {
    flex-direction: row;
    align-items: initial;
  }
}

@media only screen and (min-width: 800px) {
  .fullstack {
    flex-direction: row;
  }
}
